# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Macros
*.swp
*.swo
*~
.DS_Store

# ENV
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db
